{% extends 'base.html.twig' %}

{% block title %}Landing page{% endblock %}

{% block body %}


<div class="example-wrapper">
    <h1>Bienvenue sur le site de l'équipe SAAS</h1>
</div>
{% endblock %}
